body {
    padding: 0;
    border: 0;
}
.cabeçalho {
    display:flex;
    margin: 5px;
    justify-content: flex-end;
    
 

}
.dv1 {
    margin: 10px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    align-content: center;
    display: flex;
   


}
.dv2 {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    align-content: center;
    
    

}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


.dv3 {
    display: inline-table;
    justify-content:space-around;
    align-items: center;
    padding:5px;
    margin-left: 20px;
    
}
.a1, .a2, .a3 { 
    
    flex:1;
    float: left;
    margin-left: 5px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #cccccccc;
    


}
.dv4 img {
    margin: 1px;
    border:0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 20px;

}

.corpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

    flex: 1;
}
.imgoogle {
    
    font-family: Arial;
    
    margin-top: 100px;
    height: 170px;
    font-weight: bold;
}


.input {
    border: 1px solid #dfe1e5;
    border-radius: 50px;
    display: flex;
    width: 482px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    font-size: 15px;
}
.input:hover {
    box-shadow:0 0 20px rgba(0,0,0,0.3);
    border-radius: 50px;
    transition:all 0.4s ease;
}
input {
    border: none;
    margin-left: 20px;
    outline: 0;
    border-radius: 50px;
    font-size: 15px;
    width: 380px;

}
.access {
    flex:1;
    display: flex;
    justify-content: center;
    align-items:center;
}
.botoes {
  
   
    padding: 10px 16px 10px 16px;
    margin: 30px 10px; 
    font-size: 23px;
    border-radius: 5px;
    color: #f2f2f2 ;
}

button {
    height: 40px;
    width: 150px;
    outline: 0;
    
    } 
.rodape {
 background-color: #f1f1f1;
 height: 40px;
 line-height: 40px;
 font-size: 18px;
 text-align: left;
 color: #929292;
 margin-top: 290px;
 margin-left: 15px;

}


.freddy {
    display: flex;
    border: 2px;
    height: 40px;
    line-height: 40px;
   
    text-align: left;
    color: #929292;
    background-color:#f1f1f1;
    justify-content: space-between;
}

.f1, .f2 {
    display: flex;
    

}
.f3 {
    margin: 15px;
    font-size: 18px;



}
.f4 {
     margin: 15px;
    font-size: 18px;
   
   
    
    

}